# interpreter files
agi.exe
*.exe
*.com
*.ovl
logdir.old
picdir.old
snddir.old
viewdir.old
vol*.old
new_vol.*
errlog.txt
hgc_font
logfile
*.old
*.bat
*.sublime-project
*.sublime-workspace
*.agl
*.agp
*.ags
*.agv
*sg.*
*.bmp
*.png
agi
fm.dat
*_OLD.*
LOGIC.*
layout_errors.txt
*.ass
*.zip
PPDemo/WORDS.TOK.EXTENDED
AGI Powerpack Mods.xlsx
AGI Powerpack Mods msgmove.xlsx
PPDemo/PPDEMO.CFG
PPDemo/support/**
*.bak
