# interpreter files
agi.exe
*.exe
*.com
*.bat
*.ovl
*.old
new_vol.*
hgc_font
logfile
*.sublime-project
*.sublime-workspace
*.agl
*.agp
*.ags
*.agv
*sg.*
*.bmp
*.png
agi
*_OLD.*
LOGIC.*
*.ass
*.zip
*.bak
*.cfg
PPDemo/support/**
